<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.scode.admin.controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <display-name>FlyAway</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ChangePasswordController</display-name>
    <servlet-name>ChangePasswordController</servlet-name>
    <servlet-class>com.scode.admin.controllers.ChangePasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordController</servlet-name>
    <url-pattern>/ChangePasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPlaceController</display-name>
    <servlet-name>AddPlaceController</servlet-name>
    <servlet-class>com.scode.admin.controllers.AddPlaceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPlaceController</servlet-name>
    <url-pattern>/AddPlaceController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFlightController</display-name>
    <servlet-name>AddFlightController</servlet-name>
    <servlet-class>com.scode.admin.controllers.AddFlightController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlightController</servlet-name>
    <url-pattern>/AddFlightController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>com.scode.user.controllers.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookController</display-name>
    <servlet-name>BookController</servlet-name>
    <servlet-class>com.scode.user.controllers.BookController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookController</servlet-name>
    <url-pattern>/BookController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmBookingController</display-name>
    <servlet-name>ConfirmBookingController</servlet-name>
    <servlet-class>com.scode.user.controllers.ConfirmBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmBookingController</servlet-name>
    <url-pattern>/ConfirmBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowPlacesController</display-name>
    <servlet-name>ShowPlacesController</servlet-name>
    <servlet-class>com.scode.admin.controllers.ShowPlacesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPlacesController</servlet-name>
    <url-pattern>/ShowPlacesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.scode.admin.controllers.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePlaceController</display-name>
    <servlet-name>DeletePlaceController</servlet-name>
    <servlet-class>com.scode.admin.controllers.DeletePlaceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePlaceController</servlet-name>
    <url-pattern>/DeletePlaceController</url-pattern>
  </servlet-mapping>
</web-app>